/**************************/
/* HEADER */
/**************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;

    /* Because we want header to be sticky later */
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.logo {
    height: 2.2rem; /*easier to control*/
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

/*use max width
 When the element is larger than the container, it will simply occupy 100% of it*/
/**/
.hero {
    max-width: 130rem;
    display: grid;
    padding: 0 3.2rem;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto; /*center hero*/
    gap: 9.6rem;
    align-items: center;
}

.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px; /*spacing vertically*/
    margin-bottom: 3.2rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

/*img itself*/
.hero-img {
    /* container for this is .hero
     100% for as padding and gaps will shrink down the img eventually
     */
    width: 100%;

}

/*Make it side by side with the text */
.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}

.delivered-imgs {
    display: flex;
}

/*descendant selector*/
.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    /*below will pull imgs to the left*/
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

/*will fix the margin bug*/
.delivered-imgs img:last-child {
    margin-right: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color: #e67e22;
    font-weight: 700;
}


